<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RevConnexion Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>
</head>

<body>
    <div class="container">
        <h1 class="banner">RevConnexion</h1>
        <div class="section editor">
            <label for="id">Review ID
                <input type="number" id="id">
            </label><br>
            <label for="workshop_id">Workshop ID
                <input type="number" step='1' id="workshop_id">
            </label><br>
            <label for="difficulty">Difficulty
                <input type="number" step='1' id="difficulty">
            </label><br>
            <label for="assistants">Assistants
                <input type="number" step='1' id="assistants">
            </label><br>
            <label for="knowledge">Knowledge
                <input type="number" step='1' id="knowledge">
            </label><br>
            <label for="objectives">Objectives
                <input type="number" step='1' id="objectives">
            </label><br>
            <label for="timeliness">Timeliness
                <input type="number" step='1' id="timeliness">
            </label><br>
            <label for="venue">Venue
                <input type="number" step='1' id="venue">
            </label><br>
            <label for="satisfaction">Satisfaction
                <input type="number" step='1' id="satisfaction">
            </label><br>
            <label for="comments" type="text">Comments
                <textarea id="comments"></textarea>
            </label><br>
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="reviews">
            <table>
                <caption>Reviews</caption>
                <thead>
                    <tr>
                        <th>Reviewid</th>
                        <th>Workshopid</th>
                        <th>Difficulty</th>
                        <th>Assistants</th>
                        <th>Knowledge</th>
                        <th>Objectives</th>
                        <th>Timeliness</th>
                        <th>Venue</th>
                        <th>Satisfaction</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="error"></div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

</html>